.shiPlayer-wrapper {
  position: relative;
}
.shiPlayer-wrapper .caption {
  padding-top: 35px;
}
.shiPlayer-wrapper .caption .txt1 {
  font-family: "Oswald";
  font-size: 16px;
  color: #fdaf6a;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.shiPlayer-wrapper .caption .txt2 {
  font-size: 14px;
  color: #5f5f5f;
}

.shiPlayer-inner {
  position: relative;
  overflow: hidden;
}
.vinul {
  width: 385px;
  height: 385px;
  background: url("https://i.ibb.co/fxbNR9t/vinul.png") center center no-repeat;
  position: absolute;
  right: 0;
  top: 8px;
}

.divider1 {
  border-top: 1px solid #2b2724;
  margin: 70px 0;
}

.pagination {
  display: block;
  border-radius: 0;
  margin-bottom: 0;
  text-align: right;
  padding-top: 40px;
}
.pagination.yellow {
  text-align: left;
}
.page-item {
  display: inline-block;
  margin: 0 4px 12px;
}
.page-link {
  margin-left: 0;
  background: none;
  border-radius: 0;
  font-family: "Oswald";
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #fff;
  padding: 0 14px;
  text-decoration: none;
  color: #fff;
  min-width: 39px;
  line-height: 37px;
  text-align: center;
}
.yellow .page-link {
  color: #838383;
  border-color: #838383;
}
.page-link:hover {
  background: #fff;
  color: #000;
  border-color: #fff;
}
.yellow .page-link:hover {
  background: #fdaf6a;
  color: #000;
  border-color: #fdaf6a;
}
.page-item.active .page-link {
  background: #fff;
  color: #000;
  border-color: #fff;
}
.yellow .page-item.active .page-link {
  background: #fdaf6a;
  color: #000;
  border-color: #fdaf6a;
}
.page-item:first-child .page-link {
  margin-left: 0;
  border-radius: 0;
}
.page-item:last-child .page-link {
  margin-right: 0;
  border-radius: 0;
}
