#upcoming-events {
  background: url("https://i.ibb.co/cr9WNQk/bg1.jpg") center center no-repeat
    #080808;
  background-size: cover;
}

.event1 {
  position: relative;
  background: url("https://i.ibb.co/g9t5Gyc/body-bg.jpg") #141414;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.7);
  margin-bottom: 80px;
}

.event1-left {
  float: left;
  width: 66.666667%;
}

.event1-text {
  text-align: center;
  padding: 100px 10% 5px;
}
.event1-text .txt1 {
  font-weight: 700;
  font-size: 13px;
  color: #feb06a;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.event1-text .txt2 {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.event1-text .txt3 {
  font-size: 14px;
  color: #5f5f5f;
  padding-bottom: 30px;
}
.event1-text .txt4 {
  padding-bottom: 30px;
}

.owl-carousel-poster .owl-nav button.owl-prev {
  background: url("https://i.ibb.co/m6VGtC2/prev1.png") center center no-repeat;
  margin-left: -100px;
}
.owl-carousel-poster .owl-nav button.owl-next {
  background: url("https://i.ibb.co/YBytHND/next1.png") center center no-repeat;
  left: auto;
  right: 0;
  margin-right: -100px;
}
